#statusCard{
    display: none;
}

#gotohome{
    position: fixed;
    height: 8vh;
    width: 4vw;
    top: 85vh;
    left: 78vw;
    transition: all .3s ease-in-out;
}

#gotohome:hover{
    cursor: pointer;
    transform: scale(1.3);
}

#frontMe{
    height: 80vh;
    width: 35vw;
    position: fixed;
    top: 10vh;
    left: 13vw;
    transition: all .3s ease-in-out;
}

#frontMe:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#realme{
    
}
